.chrome-picker {
  position: absolute;
  bottom: 77px;
  left: 10px; // Same padding as bottom elements
}

.picker-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
